src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="api-main">
        <http:listener config-ref="HttpListenerConfig" path="/contract_process_api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="HttpListenerConfig" path="/contract_process_console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="delete:/contracts/{contract_id}:api-config">
        <set-payload value="{&#xA;message: Bad request,&#xA;code: 400&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="patch:/contracts/{contract_id}:application/json:api-config">
        <set-payload value="{&#xA;message: Bad request,&#xA;code: 400&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/contracts:api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/contracts/{contract_id}:api-config">
        <set-payload value="{&#xD;&#xA;&quot;first_name&quot;: &quot;Josh&quot;,&#xD;&#xA;&quot;last_name&quot;:&quot;Perry&quot;,&#xD;&#xA;&quot;phone_number&quot;:&quot;839-939-8392&quot;,&#xD;&#xA;&quot;email&quot;:&quot;josh.perry@mail.com&quot;,&#xD;&#xA;&quot;person_notes&quot;:&quot;some notes&quot;,&#xD;&#xA;&quot;customer_name&quot;: &quot;CFA&quot;,&#xD;&#xA;&quot;hq_address_id&quot;:1921,&#xD;&#xA;&quot;alt_address_id&quot;:1923,&#xD;&#xA;&quot;billing_email&quot;:&quot;alberto@cfa.com&quot;,&#xD;&#xA;&quot;customer_notes&quot;:&quot;This is a note&quot;,&#xD;&#xA;&quot;line_1&quot;: &quot;308 S Fairfax Blvd&quot;,&#xD;&#xA;&quot;line_2&quot;:&quot;S&quot;,&#xD;&#xA;&quot;state&quot;:&quot;WV&quot;,&#xD;&#xA;&quot;city&quot;:&quot;Ranson&quot;,&#xD;&#xA;&quot;zip_code&quot;:&quot;25438&quot;,&#xD;&#xA;&quot;contract_name&quot;:&quot;CFA_Contract&quot;,&#xD;&#xA;&quot;description&quot;:&quot;Description for CFA contract&quot;,&#xD;&#xA;&quot;sow&quot;:&quot;platinum&quot;,&#xD;&#xA;&quot;entitlement_update_list&quot;:&quot;123&quot;,&#xD;&#xA;&quot;start_date&quot;:&quot;2017-06-30&quot;,&#xD;&#xA;&quot;end_date&quot;:&quot;2019-06-30&quot;&#xD;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/contracts:application/json:api-config">
        <set-payload value="{&#xA;message: Conflict detected while inserting the record,&#xA;code: 409&#xA;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
