src/main/app/contract-proc-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

    <flow name="contract-proc-api-main">
        <http:listener config-ref="HttpListenerConfig" path="/api/process/contracts/*" doc:name="HTTP"/>
        <set-variable variableName="corrId" value="#[message.inboundProperties.corrId==null?message.id:message.inboundProperties.corrId]" doc:name="Variable-corrId"/>
        <logger message="CorrelationId=#[flowVars.corrId]" level="INFO" doc:name="Logger-Mule-ELK"/>
        <apikit:router config-ref="contract-proc-api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="contract-proc-api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="contract-proc-api-console">
        <http:listener config-ref="HttpListenerConfig" path="/api/process/contracts/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="contract-proc-api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="delete:/{contractId}:contract-proc-api-config">
        <flow-ref name="deleteContractProcess" doc:name="deleteContractProcess"/>

    </flow>
    <flow name="patch:/{contractId}:application/json:contract-proc-api-config">
        <flow-ref name="patchContractProcess" doc:name="patchContractProcess"/>

    </flow>
    <flow name="get:/:contract-proc-api-config">
        <flow-ref name="getAllContractsProcess" doc:name="getAllContractsProcess"/>

    </flow>
    <flow name="get:/{contractId}:contract-proc-api-config">
        <flow-ref name="getContractByIdProcess" doc:name="getContractByIdProcess"/>

    </flow>
    <flow name="post:/:application/json:contract-proc-api-config">
        <flow-ref name="postContractProcess" doc:name="postContractProcess"/>

    </flow>
    <apikit:mapping-exception-strategy name="contract-proc-api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="304">
            <apikit:exception value="com.ms3.customexception.NotModifiedException"/>
            <set-property propertyName="http.status" value="304" doc:name="Property"/>
            <set-payload value="{  &quot;code&quot;: &quot;304&quot;, &quot;message&quot;: &quot;Not Modified&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="409">
            <apikit:exception value="com.ms3.customexception.ConflictException"/>
            <set-property propertyName="http.status" value="409" doc:name="Property"/>
            <set-payload value="{&quot;message&quot;:&quot;Conflict Exception- Duplicate record&quot;}" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="412">
            <apikit:exception value="com.ms3.customexception.PreconditionFailedException"/>
            <logger message=" #[flowVars.etagValue[0]['etag']]" level="INFO" doc:name="Logger"/>
            <set-property propertyName="ETag" value=" #[flowVars.etagValue[0]['etag']]" doc:name="Property"/>
            <set-payload value="{  &quot;code&quot;: &quot;412&quot;, &quot;message&quot;: &quot;Precondition failed.  Failed to modify. The resource has been modified by other process. please use GET- /entitlements/{entitlementId} to retrieve the latest version of the resource.&quot; }" doc:name="Set Payload"/>
            <set-property propertyName="http.status" value="412" doc:name="Property"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>

</mule>
